@import "/app/variables";

.logo {
  width: 300px;
  height: 300px;
  position: absolute;
  left: -75px;
  top: -147px;
  background-color: #001e36;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;

  .logoImage {
    position: absolute;
    bottom: 74px;
    right: 30px;
    border-radius: 50%;
    img {
      width: 150px;
      height: 30px;
    }
  }
}

/* 576px and below */
@media (max-width: $md-screen) {
  .logo {
    width: 150px;
    height: 150px;
    left: -28px;
    top: -37px;

    .logoImage {
      bottom: 54px;
      right: 10px;
      img {
        width: 100px;
        height: 21px;
      }
    }
  }
  /* Your CSS styles for phones here */
}
