@import "/app/variables";

.section5 {
  background-color: #0a273e;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;

  overflow-x: hidden;

  position: relative;
  .ribbon {
    position: absolute;
    width: 10%;
    height: 80px;
    top: -40px;
    right: 0px;
    z-index: 2;
  }

  .header {
    width: 100%;

    @media screen and (max-width: $xlg-screen) {
      width: 90%;
    }

    justify-content: space-between;
    .heading {
      margin-bottom: 2rem;
      width: 48%;
      margin: auto;
      text-align: center;

      @media screen and (max-width: $md-screen) {
        width: 90%;
      }

      img {
        width: 10px;
      }
      .text {
        margin-left: 10px;
        color: #8a90a2;
        font-size: 1rem;
        margin-right: 1rem;
      }
      h1 {
        margin-top: 0.7rem;
        color: #ffffff;
        font-size: 4rem;
        font-weight: 700;

        @media screen and (max-width: $lg-screen) {
          font-size: 3.5rem;
        }
        @media screen and (max-width: $md-screen) {
          font-size: 2.5rem;
        }
        @media screen and (max-width: $sm-screen) {
          font-size: 2rem;
        }
      }
    }
  }

  .content {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 99%;
    margin: auto;
    gap: 1%;
  }
}
