@import "/app/variables";

.section3 {
  background-color: #ffffff;
  min-height: 100vh;
  z-index: 2;
  padding-top: 3rem;

  .content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: $xlg-screen) {
      width: 90%;
    }

    justify-content: space-between;
    .whatWeDo {
      margin-bottom: 2rem;
      width: 48%;

      @media screen and (max-width: $md-screen) {
        width: 100%;
      }

      img {
        width: 10px;
      }
      .text {
        margin-left: 10px;
        color: #8a90a2;
        font-size: 1rem;
        margin-right: 1rem;
      }
      h1 {
        margin-top: 1rem;
        color: #292930;
        font-size: 4rem;

        @media screen and (max-width: $lg-screen) {
          font-size: 3.5rem;
        }
        @media screen and (max-width: $md-screen) {
          font-size: 2.5rem;
        }
        @media screen and (max-width: $sm-screen) {
          font-size: 2rem;
        }
      }
    }
  }
}
