@import "/app/variables";

.navbar {
  position: relative;
  .navbackgound {
    // width: 850px;
    // height: 925px;
    // position: absolute;
    // right: -320px;
    // top: -218px;

    width: 50vw;
    height: 90vh;
    position: absolute;
    right: -15vw;
    top: -10vh;
    z-index: -1;

    background-color: #30a8ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;

    // @media screen and (max-width: $xxlg-screen) {
    //   width: 750px;
    //   height: 800px;
    //   right: -237px;
    //   top: -150px;
    // }
    @media screen and (max-width: $xlg-screen) {
      // width: 600px;
      // height: 650px;
      // right: -195px;
      // top: -67px;

      height: 80vh;
    }

    @media screen and (max-width: $lg-screen) {
      width: 250px;
      height: 250px;
      right: -96px;
      top: -108px;
    }
    @media screen and (max-width: $xsm-screen) {
      width: 187px;
      height: 187px;
      right: -87px;
      top: -74px;
    }

    .navBtn {
      display: none;
      @media screen and (max-width: $lg-screen) {
        display: flex;
        width: 80%;
        justify-content: center;
        img {
          width: 20%;
          margin-top: 50px;
        }
      }
      @media screen and (max-width: $xsm-screen) {
        width: 65%;
        // border: 2px solid black;
        img {
          width: 30%;
        }
      }
    }
  }
  .navigation {
    color: black;
    width: 50%;

    // border: 2px solid black;

    @media screen and (min-width: $xxlg-screen) {
      width: 50%;
    }

    position: absolute;
    right: -10px;
    top: 6vh;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $lg-screen) {
      display: none;
    }

    button {
      border: none;
      background: none;
      cursor: pointer;
      font-size: 1rem;
      padding: 10px;

      color: #292930;
      font-family: DM Sans;
      font-size: 1rem;

      @media screen and (max-width: $xxlg-screen) {
        font-size: 0.7rem;
      }
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.18px;
    }

    .navLeftBtns {
      // border: 2px solid black;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;

      .homeBtn {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.18px;
        color: #8a90a2;
        font-family: "DM Sans", sans-serif;
        cursor: pointer;
      }
      .contactBtn {
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.18px;

        color: #8a90a2;
        font-family: "DM Sans", sans-serif;
        cursor: pointer;
      }

      .activeBtn {
        font-weight: 700;

        display: inline-block;
        position: relative;
        text-decoration: none;
        color: #292930;

        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 9%;
          width: 80%;
          height: 4px;
          background-image: linear-gradient(
            to right,
            transparent 3px,
            #30a8ff 3px,
            #30a8ff calc(100% - 3px),
            transparent calc(100% - 3px)
          );

          border-radius: 33px;
          box-shadow: 0 6px 0 0 #fff;
        }
      }
    }

    .navRightBtns {
      // border: 2px solid black;

      width: 60%;
      display: flex;
      justify-content: center;
      gap: 2%;
      align-items: center;

      .talkBtn {
        border-radius: 12px;

        color: #0a273e;
        font-family: Inter;
        font-size: 0.7rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        border: 2px solid #0a273e;
        padding: 10px 30px;
        cursor: pointer;
      }
    }
  }
}
