@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 400;
  color: #292930;
  margin: 0;
  padding: 0;
}
