@import "/app/variables";

.section1 {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  padding-bottom: 4rem;
  .ribbon {
    position: absolute;
    width: 10%;
    height: 80px;
    bottom: -40px;

    left: 0px;
    z-index: 2;
    @media screen and (max-width: $lg-screen) {
      height: 40px;
      bottom: -20px;
    }
    @media screen and (max-width: $sm-screen) {
      height: 20px;
      bottom: -10px;
    }
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow-x: hidden;

  .content {
    margin-top: 20vh;

    @media screen and (max-width: $lg-screen) {
      margin-top: 22vh;
      width: 80%;
    }
    @media screen and (max-width: $md-screen) {
      margin-top: 17vh;
    }
    @media screen and (max-width: $xsm-screen) {
      margin-top: 20vh;
    }

    // border: 2px solid black;
    width: 90%;
    @media screen and (min-width: $lg-screen) {
      margin-left: auto;
    }
    display: flex;
    flex-wrap: wrap;
    // gap: 1rem;

    // @media screen and (max-width: $xlg-screen) {
    //   width: 90%;
    // }
    @media screen and (max-width: $lg-screen) {
      // width: 80;
      // justify-content: center;
      // margin: auto;
    }
    // @media screen and (max-width: $sm-screen) {
    //   width: 90%;
    // }

    .intro {
      width: 48%;

      @media screen and (max-width: $lg-screen) {
        width: 100%;
      }

      display: flex;
      justify-content: center;
      // align-items: center;
      flex-direction: column;
      // border: 2px solid black;

      .statementHeading {
        width: 100%;

        color: #292930;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 700;
        line-height: 114.444%;
        letter-spacing: -1px;

        font-size: 4rem;
        line-height: 1;
        font-family: "DM Sans";
        font-weight: 900;

        // @media screen and (max-width: $xlg-screen) {
        //   font-size: 3rem;
        // }
        @media screen and (max-width: $lg-screen) {
          font-size: 4rem;
        }
        @media screen and (max-width: $md-screen) {
          font-size: 3rem;
        }
        @media screen and (max-width: $xsm-screen) {
          font-size: 1.5rem;
        }
      }

      .description {
        width: 100%;

        color: #8a90a2;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 400;
        line-height: 166.667%;
        margin-top: 2rem;
        font-family: "DM Sans";
        font-size: 1rem;
        color: #8a90a2;

        @media screen and (max-width: $xsm-screen) {
          font-size: 0.7rem;
          margin-top: 1rem;
        }
      }

      .btns {
        width: 90%;

        @media screen and (max-width: $lg-screen) {
          width: 100%;
        }

        @media screen and (max-width: $xsm-screen) {
          margin-top: 1rem;
        }

        margin-top: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        // border: 2px solid black;
        button {
          color: #fff;
          font-family: DM Sans;
          font-style: normal;
          font-weight: 700;
          line-height: 200%;

          width: 48%;
          font-family: "DM Sans";
          font-weight: 500;
          font-size: 0.7rem;
          padding: 1rem;
          border-radius: 10px;

          @media screen and (max-width: $lg-screen) {
            font-size: 1rem;
          }

          @media screen and (max-width: $sm-screen) {
            font-size: 0.7rem;
            padding: 0.7rem 0px 0.7rem 0.7px;
          }
          @media screen and (max-width: $xsm-screen) {
            width: 100%;
            margin-top: 1rem;
          }
        }
        .visitCaseBtn {
          position: relative;
          .visitBtnCircle {
            position: absolute;
            height: 80%;
            width: 13%;
            left: 0.2px;
            top: 10%;
          }
          @media screen and (max-width: $sm-screen) {
            padding-left: 1rem;
          }
          background-color: #3093d5;
          border: 2px solid #3093d5;
          color: #fff;
          border: none;
        }
        .aboutBtn {
          font-weight: 900;

          color: #0a273e;
          background-color: #fff;
          border: 1px solid #0a273e;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            margin-left: 8px;
            width: 10%;
            // @media screen and (max-width: $sm-screen) {
            //   margin-left: 8px;
            //   width: 10%;
            // }
          }
        }
      }
    }

    .computerImage {
      width: 50%;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0;
      // border: 2px solid black;

      @media screen and (max-width: $xlg-screen) {
        justify-content: center;
        margin-top: 2rem;
        img {
          width: 238.869px;
          height: 184.187px;
          flex-shrink: 0;
        }
      }
      // img {
      //   width: 75%;
      //   height: auto;
      // }

      // img {
      //   width: 120px;
      //   height: 100px;
      //   flex-shrink: 0;
      // }

      @media screen and (max-width: $lg-screen) {
        width: 100%;
      }
    }

    .technologies {
      width: 50%;
      display: flex;
      padding: 10px;
      flex-wrap: wrap;
      margin: 0;
      // border: 2px solid black;
      // gap: rem;
      img {
        max-width: 50px;
        height: 50px;
        margin-right: 2rem;
        padding: 0;
      }
      @media screen and (max-width: $lg-screen) {
        width: 100%;
        margin-top: 2rem;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 0.5rem;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
