@import "/app/variables";

.section6 {
  // min-height: 100vh;

  padding-top: 13vh;
  background-color: #ffffff;

  .upperHalf {
    min-height: 80vh;
    h6 {
      text-align: center;
      font-size: 1.2rem;
      font-family: "DM Sans";
      font-weight: 700;
      color: #292930;
    }
    ul {
      display: flex;
      width: 75%;
      margin: auto;
      justify-content: space-between;
      align-items: baseline;
      margin-top: 2rem;

      li {
        list-style: none;
        text-align: center;
        flex-grow: 1;
      }
    }

    .subscriptionBox {
      width: 70%;
      background-color: #0a273e;
      margin: auto;
      margin-top: 4rem;
      padding: 4rem 3rem;
      border-radius: 10px;
      .smallHeading {
        margin-left: 0.5rem;
        span {
          font-family: "DM Sans";
          color: #30a8ff;
          margin-left: 1rem;
          font-weight: 500;
        }
      }

      h1 {
        font-size: 3.5rem;
        font-family: "DM Sans";
        font-weight: 700;
        color: #ffffff;
        width: 50%;
        line-height: 1.2;
        margin-top: 10px;
      }

      .subscriptionForm {
        width: 50%;
        border-radius: 5px;
        margin-top: 15px;
        padding: 10px;
        background-color: #30a8ff;
        color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        input[type="text"] {
          padding: 0;
          width: 60%;
          background: none;
          border: none;
          color: #ffffff;
          padding: 1rem;
          outline: none;
          font-family: "DM Sans";
          font-weight: 400;
          font-size: 1rem;

          &::placeholder {
            color: #ffffff;
            font-family: "DM Sans";
            font-weight: 400;
          }
        }

        button {
          width: 40%;
          border-radius: 10px;
          background-color: #0a273e;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.2rem;
          font-family: "DM Sans";
          font-weight: 700;
          padding: 1rem;
          cursor: pointer;

          img {
            margin-left: 15px;
          }
        }
      }

      position: relative;
      .borderDesignImg {
        position: absolute;
        right: 0;
        top: 0;
        width: 10%;
        height: 100%;
      }
    }
  }

  .footer {
    img {
      width: 100%;
      height: 100%;
    }

    position: relative;
    bottom: 0;
    .footerContent {
      position: absolute;
      top: 30%;
      left: 15%;
      width: 70%;
      max-height: 70%;
      overflow: hidden;

      .logo {
        width: 15%;
        img {
          width: 100%;
        }
      }

      svg {
        width: 100%;
      }

      hr {
        width: 100%;
        fill: #113a5a;
        opacity: 0.1;
        margin-bottom: 1rem;
      }

      .line1 {
        margin-top: 0.7rem;
        margin-bottom: 4.5rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        h6 {
          width: 60%;
          color: var(--white, #fff);
          font-family: DM Sans;
          font-size: 2rem;
          font-style: normal;
          font-weight: 500;
          line-height: 131.429%;
        }

        .availableBtn {
          position: relative;
          width: 30%;
          cursor: pointer;

          color: #fff;
          font-family: DM Sans;
          font-size: 1rem;
          font-style: normal;
          font-weight: 700;
          line-height: 400%;
          background-color: #30a8ff;
          border-radius: 10px;
          img {
            position: absolute;
            left: -10px;
            top: 0;
            width: 10%;
            height: 100%;
          }
        }
      }

      .line2 {
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        p {
          width: 60%;

          color: var(--white, #fff);
          font-family: DM Sans;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
        ul {
          display: flex;
          width: 35%;
          justify-content: space-between;
          align-items: center;

          li {
            list-style: none;
            flex-grow: 1;

            color: var(--white, #fff);
            text-align: center;
            font-family: DM Sans;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            cursor: pointer;
          }
        }
      }

      .line3 {
        margin-top: 2rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .contactUs {
          width: 50%;
          display: flex;
          justify-content: space-between;
          span {
            color: #fff;
            font-family: Roboto;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;

            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              width: 24px;
              height: 24px;
              margin-right: 10px;
            }
          }
        }
        .socialMediaIcons {
          width: 20%;

          display: flex;
          justify-content: space-between;
          align-items: center;

          img {
            flex-grow: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}
